body {
	position: relative;
	background-image: url(../img/background.png);
	font-family: "Exo2Bold";
}
.methods {
	padding-left: 50px;
}
h1 {
	text-align: center;
	color: #fff;
}
a {
	font-size: 20px;
	color: #fff;
}
form p {
	color: #fff;
	font-size: 20px;
}